* {
    margin: 0;
}

.forside {
    background-color: var(--kongegroen);
    padding: 20px;
}

.forside h1 {
    color: var(--havskum);
    margin-bottom: 40px;
}

video {
    width: 100%;
    margin-bottom: 20px;
}

nav {
    background-color: var(--kongegroen);
    height: 85px;
    padding: 0 20px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img {
    width: 65px;
}

nav p {
    color: white;
}

@media only screen and (min-width: 750px) {
    nav {
        padding: 0 60px 0 60px;
    }

    .forside {
        padding: 0 60px 0 60px;
    }

    video {
        margin-bottom: 60px;
    }
}