
.vaerdier {
    padding: 40px 20px 40px 20px;  
    background-color: var(--lysegraa);

}
.vaerdier-overskrift{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 35px;
}

.centervaerdi {
display: flex;
flex-direction: column;
align-items: center;
margin-left: 20px;
margin-right: 20px;
}

.centervaerdi p {
    margin-bottom: 20px;
}

@media (min-width:750px){ 
    .vaerdier-overskrift{
        margin-bottom: 60px;
    }

    .centervaerdi {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 40px;
        text-align: left;
    }

    .vaerdier {
        padding: 60px;
    }

}
