.medarbejder-container {
    display: flex;
    flex-direction: column;
    padding: 40px 20px 40px 20px;
}

.medarbejder img {
    width: 100%;
}

.medarbejder {
    margin-bottom: 20px;
}

.medarbejder-container h1 {
    padding-bottom: 20px;
}

.medarbejder-knap {
    align-self: center;
    margin: 20px 0 20px 0;
}

@media only screen and (min-width: 750px) {
    .wrap-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .medarbejder-container {
        padding: 40px 60px 40px 60px;
    }
}