* {
    box-sizing: border-box;
    margin: 0;
  }

.slide1 {
    background-color: var(--kejerviolet);
    padding: 40px 20px 40px 20px;
    height: 800px;
}

.slide2 {
    background-color: var(--kongegroen);
    padding: 40px 20px 40px 20px;
    height: 800px;
}

.projekt {
    display: none;
}

.img-size {
    max-width: 100%;
    margin-top: 40px;
    max-height: 400px;
}

/* pile */

.pile {
    background: none;
    border: none;
    padding: 0;
    margin-bottom: 20px;
    cursor: pointer;
}

.pil-left {
    width: 40px;
    margin-right: 35px;
}

.pil-right {
    width: 40px;
    transform: scaleX(-1);
}

/* skrift farve */

.slide1 p {
    color: var(--lyseviolet);
}

.slide2 p {
    color: var(--lysegroen);
}

.slide1 h3 {
    color: var(--lyseviolet);
}

.slide2 h3 {
    color: var(--lysegroen);
}

.slide1 h2 {
    color: var(--lavendel);
    margin: 20px 0px 20px 0px;
    max-width: 500px;
}

.slide2 h2 {
    color: var(--havskum);
    margin: 20px 0px 20px 0px;
    max-width: 500px;
}

@media only screen and (min-width: 750px) {
    .slide1 {
        padding: 40px 60px 60px 60px;
        height: 900px;
    }
    
    .slide2 {
        padding: 40px 60px 60px 60px;
        height: 900px;
    }

    .pro-pile-overskrift {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }

    .pro-tekst-knap {
        display: flex;
        align-items: center;
    }

    .slide1 h2 {
        margin-right: 40px;
    }
    
    .slide2 h2 {
        margin-right: 40px;
    }

    .img-size {
        max-height: none;
    }
}