* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.citater {
    position: relative;
    width: 100%;
}

.quote1 {
    padding: 20px;
    color: var(--lyseviolet);
    background-color: var(--kejerviolet);
}

.quote2 {
    padding: 20px;
    color: var(--lysegroen);
    background-color: var(--kongegroen);
}

.citat {
    display: none;
    text-align: center;
}

.pro-pile-overskrift-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pile-flow{
    align-self: flex-start;
}

.pile-1 {
    background: none;
    border: none;
    cursor: pointer;
}

.pil-left-1 {
    width: 40px;
    margin-right: 35px;
}

.pil-right-1 {
    width: 40px;
    transform: scaleX(-1);
}

.pro-tekst-knap-1 {
    margin: 20px 0;
}

.pro-tekst-knap-1 h2{
    padding-bottom: 15px;
}

.profil {
    display: flex;
    text-align: left;
    align-items: center;
}

.profil-tekst-1 {
    margin-bottom: 5px; /* Juster denne værdi for at ændre afstanden mellem p-elementerne */
}

.profil img{
    height: 65px;
    width: 65px;
    margin-right: 10px ;
}

.img-size-1 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

@media (min-width: 768px) {

    .quote1{
        padding: 60px;
        color: var(--lyseviolet);
    }
    
    .quote2{
        padding: 60px;
        color: var(--lysegroen);
    }

    .pro-tekst-knap h2{
        padding-bottom: 30px;
    }

    .pile-flow{
        align-self: flex-end;
    }
}
