
.accordion-indhold {
    background-color: rgb(4, 0, 255);
}

.accordion-overskrift {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--lyssand);
    cursor: pointer;
    border-top: 1px solid var(--sort);

}

.m-overskrift {
    margin-left: 20px;
}
.fa-plus {
    margin-left: 10px;
    font-size: 1.9em;
    margin-right: 20px;
}

.accordion-tekst{
    display: none;
}

.accordion-overskrift:hover {
    background-color: var(--sand);
  }