* {
    margin: 0;
}

.forside {
    background-color: var(--kongegroen);
    padding: 20px;
}

.forside h1 {
    color: var(--havskum);
    margin: 20px 0 40px 0;
}

video {
    width: 100%;
    margin-bottom: 20px;
}