* {
    box-sizing: border-box;
    margin: 0;
  }

.slide1 {
    background-color: #201B59;
    padding: 40px 20px 40px 20px;
    height: 550px;
}

.slide2 {
    background-color: #04393B;
    padding: 40px 20px 40px 20px;
    height: 550px;
}

.projekt {
    /* position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    transition: left 0.5s ease-in-out; */
    display: none;
}

/* .projekt.vis {
    display: block;
    left: 0;
}

.projekt.exit {
    left: -100%;
} */

.img-size {
    max-width: 100%;
    margin-top: 20px;
}

/* pile */

.pile {
    background: none;
    border: none;
    padding: 0;
    margin-bottom: 20px;
    cursor: pointer;
}

.pil-left {
    width: 40px;
    margin-right: 35px;
}

.pil-right {
    width: 40px;
    transform: scaleX(-1);
}

/* skrift farve */

.slide1 p {
    color: #ECEBFF;
}

.slide2 p {
    color: #DCF0F0;
}

.slide1 h2 {
    color: #D0BBE6;
    margin: 20px 0px 20px 0px;
}

.slide2 h2 {
    color: #8ECFD2;
    margin: 20px 0px 20px 0px;
}