* {
    box-sizing: border-box;
    margin: 0;
  }

.slide1 {
    background-color: #201B59;
}

.slide2 {
    background-color: #04393B;
}

.img-size {
    max-width: 100%;
}

.pil-left {
    width: 60px;
}

.pil-right {
    width: 60px;
    transform: scaleX(-1);
}