* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
.citater {
    position: relative;
    width: 100%;
}

.slide1{
    padding: 20px;
    color: var(--lyseviolet);
}

.slide2{
    padding: 20px;
    color: var(--lysegroen);
}

.citat {
    display: none;
    text-align: center;


}

.pro-pile-overskrift {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pil-right{
    transform: rotate(3.142rad);
}
.pile {
    background: none;
    border: none;
    cursor: pointer;
}

.pil-left, .pil-right {
    width: 30px;
    height: 30px;
}

.pro-tekst-knap {
    margin: 20px 0;
}

.profil {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-size {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.m-overskrift {
    font-size: 1.5em;
    margin: 0;
}

.m-normalbroed {
    font-size: 1em;
    margin: 5px 0;
}

.slide1 {
    background-color: var(--kejerviolet);
  
}

.slide2 {
    background-color: var(--kongegroen);
    
}

@media only screen and (min-width: 750px) {
    
   
}