* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
.citater {
    position: relative;
    width: 100%;
}



.pro-pile-overskrift {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}



.slide1{
    padding: 20px;
    color: var(--lyseviolet);
}

.slide2{
    padding: 20px;
    color: var(--lysegroen);
}

.citat {
    display: none;
    text-align: center;


}

.pro-pile-overskrift {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pil-right{
    transform: rotate(3.142rad);
}
.pile {
    background: none;
    border: none;
    cursor: pointer;
}

.pil-left, .pil-right {
    width: 30px;
    height: 30px;
    
}

.pro-tekst-knap {
    margin: 20px 0;
}

.pro-tekst-knap h2{
    padding-bottom: 15px;
}

.profil {
    display: flex;
    text-align: left;
    align-items: center;
}

.profil-tekst {
    margin-bottom: 5px; /* Juster denne værdi for at ændre afstanden mellem p-elementerne */
}



.profil img{
    height: 65px;
    width: 65px;
    margin-right: 10px ;
}

.img-size {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}



.slide1 {
    background-color: var(--kejerviolet);
  
}

.slide2 {
    background-color: var(--kongegroen);
    
}

@media (min-width: 768px) {

    .slide1{
        padding: 60px;
        color: var(--lyseviolet);
    }
    
    .slide2{
        padding: 60px;
        color: var(--lysegroen);
    }

    .pro-tekst-knap h2{
        padding-bottom: 30px;
    }
}
